<meta charset="utf-8"/>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/resource/css/style.css" />
<link rel="stylesheet" type="text/css" href="/resource/css/jwplayernew.css" />
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_d8ryv4t1expnl8fr.css" />
<script src="/resource/js/jquery.js"></script>
<script src="/resource/js/dmgc.js"></script>
<script src="/resource/js/verificationNumbers.js"></script>
<script src="/resource/js/Particleground.js"></script>
<!--[if lt IE 9]>
<script src="/resource/js/html5.js"></script>
<![endif]-->
<script src="/resource/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/resource/js/jwplayer.js"></script>
<script src="/resource/js/jquery.rotate.min.js"></script>
<script src="/resource/js/dmgc.js?v={:time()}"></script>


