<link rel="stylesheet" href="//at.alicdn.com/t/font_uoz38lo2cn64j9k9.css"/>
<div class="header">
    <div class="navbar">
        <div class="logo-container">
            <div class="logo-img "><img src="/resource/img/index_logo.png" alt="logo"/></div>
        </div>
        <div class="nvw" id="nvw">
            <ul>
                <li>
                    <a href="{:url('index/index')}">首页</a>
                </li>
                <li>
                    <a href="{:url('doc/index')}">公文管理</a>
                </li>
                <li>
                    <a href="{:url('article/index')}">信息中心</a>
                </li>
                <li>
                    <a href="{:url('email/index')}">邮件</a>
                </li>
            </ul>
        </div>
        <div class="nav-right">
            <ul class="show-box">
                <li>
                    <span>admin</span>
                    <span class="am-icon-caret-down"></span>
                    <span class="iconfont">&#xe62d;</span>
                    <ul class="dropdown-content">
                        <div class="dropdown-content-title">
                            <div class="title-img" style="overflow: hidden">
                                <img src="/resource/img/noavatar_middle.jpg" alt="man" style="height: 57px">
                            </div>
                            <div style="float: left;padding: 10px 10px;"><span style="color: white;font-size: 16px;font-weight: 700;">admin</span></div>
                        </div>
                        <div style="width: 250px;height: 30px; margin:20px 0px 0px 20px;">
                            <button class="am-btn am-btn-success" style=" width: 35px;height: 13px;padding: 0px 2px;font-size: 1px;border-radius:2px ;background-color:  #a9e038;border: none;">
                                lev3
                            </button>
                            <span style="display: inline-block;float:right">12/15</span>
                        </div>
                        <div class="am-progress">
                            <div class="am-progress-bar am-progress-bar-success" style="width: 45%"></div>
                        </div>
                        <div class="dropdown-bottom">
                            <div class="am-btn-group">
                                <button type="button" class="am-btn am-btn-default am-radius" style="display:none;color:#82939e;border: 1px solid #dadce6;background-color: #f8f8f8;border-bottom-left-radius: 4px;border-top-left-radius: 4px"><span class="iconfont" style="color: #82939E;">&#xe60b;</span>个人</button>
                                <button type="button" class="am-btn am-btn-default" style="display:none;color:#82939e;border: 1px solid #dadce6;background-color: #f8f8f8;"><span class="iconfont" style="color: #82939E;">&#xe658;</span>管理</button>
                                <button type="button" class="am-btn am-btn-default am-radius" style=" color:#82939e;border: 1px solid #dadce6;background-color: #f8f8f8;border-radius: 4px"><a href="{:url('login/login')}"><span class="iconfont" style="color: #82939E;">&#xe627;</span>退出</a></button>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
