{extend name="layout/base:index" /}
{block name="title"}OA系统{/block}
{block name="header_js"}
{/block}
{block name="header_css"}
{/block}
{block name="main"}
<div class="wrap">
    <div class="mtw">
        <span class="pull-right">2017年5月24日，星期三，农历四月廿九</span>
    </div>

    <div>
        <div class="in-mod-wrap clearfix ui-sortable">
            <div class="mbox in-main">
                <div class="mbox-header">
                    <h4>会议</h4>
                    <a href="javascript:;" class="o-close-simple"></a>
                </div>
                <div class="mbox-body">
                    <div>
                        <div class="main/voiceConference">
                            <div class="fill">
                                <div class="mb">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
{/block}
{block name="footer_js"}
{/block}
{block name="footer_css"}
{/block}