<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_fkadjbrsfgr885mi.css">
    <script src="/resource/js/jquery.js"></script>
    <link rel="stylesheet" href="/resource/css/amazeui.min.css?v={:time()}">
    <script src="/resource/js/amazeui.min.js"></script>
    <script src="/resource/new_js/add_doc.js?v={:time()}"></script>
    <link rel="stylesheet" href="/resource/new_css/add_doc.css">
    <style>
        .show{
            border: 1px solid #82939e;
            padding: 0 10px;
            display: block;
            width:485px;
            line-height:40px;
            border-radius: 4px;
        }
        .operate{
            position: absolute;
            top:23px;
            left:0;
            height: 40px;
            width: 485px;
            opacity: 0;
        }
    </style>

</head>
<body>
<div class="ibody">
    <div class="ibody-header">
        <h2>新建公文</h2>
        <div class="mtw">
            <span>{$date_lunar}</span>
        </div>
    </div>
    <div class="icontainer">
        <div class="aside">
            <ul>
                <li class="li-big"><a href="" >未签收</a><span class="show-span">169</span></li>
                <li class="li-big li-big-active"><a href="">公文</a></li>
                <li class="li-small"><a href="">下发公文</a></li>
                <li class="li-small"><a href="">上报公文</a></li>
            </ul>
        </div>
        <div class="body-form">
            <form action="{:url('')}" method="post" enctype="multipart/form-data" >
                <div style="clear: both">
                    公文标题 <input type="text" name="doc_title" id="doc-header"  class="form-input"/>
                </div>
                <div class="rows">
                    <div style="float: left;width:505px;">
                        公文号<input type="text" name="doc_no" class="form-input doc-number"/>
                    </div>
                    <div style="float: right;width: 230px;">
                        所属分类
                        <select name="doc_c_id"  class="form-input" style="width: 230px;" id="select_cate" multiple="multiple">
                            {volist name="cate_list" id="vo"}
                            <option value="{$vo.cate_id}">{$vo.cate_title}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="rows">
                    <div style="float: left;width:505px;position: relative">
                        发布范围
                        <input type="hidden" name="doc_publish" id="doc_publish" value=""/>
                        <span class="show doc_publish_show">选择部门岗位和员工</span>
                        <select   class="operate publish_select" data-target="doc_publish">
                            <option value="0">选择部门岗位和员工</option>
                            <optgroup label="部门选择">
                                {volist name="publish_scope['depart']" id="vo"}
                                <option value="d_{$vo.id}">{$vo.title}</option>
                                {/volist}
                            </optgroup>
                            <optgroup label="岗位选择">
                                {volist name="publish_scope['station']" id="vo"}
                                <option value="s_{$vo.id}">{$vo.title}</option>
                                {/volist}
                            </optgroup>
                            <optgroup label="角色选择">
                                {volist name="publish_scope['role']" id="vo"}
                                <option value="r_{$vo.id}">{$vo.title}</option>
                                {/volist}
                            </optgroup>
                        </select>
                        <a  class="operate-btn role-btn iconfont select-show-first " data-target="doc_publish">&#xe601;</a>
                        <a  class="operate-btn select2-selection_clear iconfont" data-target="doc_publish">&#xe600;</a>
                    </div>
                    <div style="float: right;width: 230px;position:relative">
                        抄送
                        <select name="doc_cc" class="form-input" style="width: 230px;" id="publish_cc" multiple="multiple">
                            <optgroup label="部门">
                                {volist name="publish_scope['depart']" id="vo"}
                                <option value="d_{$vo.id}">{$vo.title}</option>
                                {/volist}
                            </optgroup>
                            <optgroup label="岗位">
                                {volist name="publish_scope['station']" id="vo"}
                                <option value="s_{$vo.id}">{$vo.title}</option>
                                {/volist}
                            </optgroup>
                            <optgroup label="角色">
                                {volist name="publish_scope['role']" id="vo"}
                                <option value="r_{$vo.id}">{$vo.title}</option>
                                {/volist}
                            </optgroup>
                        </select>

                        <a  class="operate-btn  cc-role iconfont select-show-first">&#xe601;</a>
                        <!--<a  class="operate-btn select2-selection_clear cc-clear iconfont">&#xe600;</a>-->
                    </div>
                </div>
                <div style="clear: both;"></div>
                <div class=" rows">
                    <label class="am-btn-default label-radio label-active">
                        <input type="radio" name="doc_state" value="1" style="opacity: 0;"/>发布
                    </label>
                    <label class="am-btn-default label-radio label-draft">
                        <input type="radio" name="doc_state" value="2" style="opacity: 0;"/>草稿
                    </label>
                </div>
                <!--编辑器内容-->
                <script style="display: inline-block;" id="doc_content" name="doc_content"></script>
                <div class="bottom-btn-group">
                    <button type="button" class="am-btn am-btn-default" style="color: #82939e;">返回</button>
                    <button type="submit" class="am-btn am-btn-primary">提交</button>
                </div>
                <!--隐藏input-->
                <input type="text" style="display: none">
            </form>
            <!--附件：这里搞一个上传附件的插件-->
            <form action="{:url('')}" id="postForm">
                <div class="am-form-group am-form-file">
                    <button type="button" class="am-btn am-btn-default am-btn-sm" style="border-radius: 4px;">
                        <i class="am-icon-cloud-upload"></i> 选择要上传的附件
                    </button>
                    <input type="file" multiple>
                </div>
            </form>
        </div>
    </div>
</div>






<script type="text/javascript" src="/resource/ueditor1.4.3.3/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/resource/ueditor1.4.3.3/ueditor.all.js"></script>
<script>
    var ue = UE.getEditor('doc_content',{
        serverUrl:'{:url("base/base/ue_upload")}',
        initialFrameWidth :740,
        initialFrameHeight:340,
        autoHeightEnabled:false

    });
    $(document).ready(function() {
        $(".publish_select").on('change',function () {
            var new_text = $(".publish_select option:selected").text();
            var new_val = $(".publish_select option:selected").val();
            var target = $(this).data('target');//要操作的数据域
            var old = $("#"+target).val();
            old = old.trim();
            var old_text = $("."+target+"_show").html();
            if(old.length > 0){
                var old_arr = old.split(',');
                var flag = false;
                for(var i in old_arr){
                    if(old_arr[i] == new_val){
                        flag = true;
                    }
                }
                if(flag){
                    old = old.replace(new_val,'');//去掉
                    old_text = old_text.replace(new_text,'');
                    var new_val_arr = [];
                    var new_text_arr = [];
                    old = old.split(',');
                    for(var i in old){
                        if(old[i].length > 0){
                            new_val_arr.push(old[i]);
                        }
                    }
                    old = new_val_arr.join(',');
                    old_text = old_text.split(',');
                    for(var j in old_text){
                        if(old_text[j].length > 0){
                            new_text_arr.push(old_text[j]);
                        }
                    }
                    old_text = new_text_arr.join(',');
                }else{
                    old += ','+new_val;
                    old_text += ','+new_text;
                }

            }else{
                old = new_val;
                old_text = new_text;
            }
            if(old.length == 0){
                old = 0;
            }
            if(old_text.length == 0){
                old_text = '展示区';
            }
            $("#"+target).val(old);
            $("."+target+"_show").html(old_text);
        });
    })

</script>

<!--弹出表单-->
<div class="select-user-box" style="display: none; position:absolute">
    <!--表单头部-->
    <div class="select-box-header">
        <ul class="select-box-nav">
            <li data-type="department" class="active">
                <a href="javascript:;">
                    <i class="iconfont" style="font-size: 30px">&#xe602;</i>
                    <span>按部门</span>
                </a>
            </li>
            <li data-type="position">
                <a href="javascript:;">
                    <i class="iconfont" style="font-size: 30px">&#xe75a;</i>
                    <span>按岗位</span>
                </a>
            </li>
            <li data-type="role">
                <a href="javascript:;">
                    <i class="iconfont" style="font-size: 30px">&#xe63d;</i>
                    <span>按角色</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="select-all">
        <!--按部门-->
        <div class="department select-user-content">
            <!--部门左边-->
            <div class="select-box-inner">
                <ul class="inner-ul depart-inner-ul">
                    {volist name="publish_scope['depart']" id="vo" empty="无"}
                    <li>
                        <a>
                            <span class="iconfont" style="color: #82939E; font-size: 14px;display: inline-block;width:18px;margin-left:5px;">&#xe747;</span>
                            <span style="margin-left:-5px; display: inline-block; width: 135px;height: 25px;font-size: 12px;border:solid 1px #f9fbff;border-radius: 4px;color:#829393;" class="select-a-span depart_item" data-id="{$vo.id}" data-title="{$vo.title}" >{$vo.title}</span>
                        </a>
                    </li>
                    {/volist}
                </ul>
            </div>
            <!--部门右边-->
            <div class="select-box-side">
                <div class="select-box-side-header">
                    <span>选择全部</span>
                    <input type="checkbox" class="check_all_depart" data-id="0" />
                </div>
                <div class="select-box-side-content">
                    {volist name="publish_scope['depart']" id="vo"}
                    <ul style="width: 155px;padding: 5px 8px;display: none;" class="depart-aside-ul depart_ul" data-pid="{$vo.id}">
                        {present name="vo.user"}
                        {volist name="vo.user" id="va"}
                        <li>
                            <span class="iconfont">&#xe6ae;</span>
                            <span style="font-size: 12px;margin-top: -3px;" class="select-name " >{$va.user_real_name}</span>
                            <input type="checkbox" class="checkboxs depart_user_item" data-id="{$va.user_id}" data-pid="{$vo.id}" data-title="{$va.user_real_name}"/>
                        </li>
                        {/volist}
                        {/present}
                    </ul>
                    {/volist}
                </div>
            </div>
        </div>
        <!--按岗位-->
        <div class="position select-user-content ">
            <!--岗位左边-->
            <div class="select-box-inner ">
                <ul class="inner-ul ">
                    <li>
                        <a>
                            <span class="iconfont " style="color: #82939E; font-size: 20px;display: inline-block;width:18px;margin-left:5px; ">&#xe7a0;</span>
                            <span style="color:#82939E; display: inline-block; width: 100px;height: 25px;font-size: 12px;border:solid 1px #f9fbff;border-radius: 4px;font-weight: 500; " class="select-a-span ">默认分类</span>
                        </a>
                    </li>
                    {volist name="publish_scope['station']" id="vo"}
                    <li style="padding-left: 20px;margin-top: 5px;height: 20px; ">
                        <a>
                            <span class="iconfont " style="color: #82939E; font-size: 16px;display: inline-block;width:18px;margin-left:5px; ">&#xe747;</span>
                            <span style="color:#82939E; display: inline-block; width: 110px;height: 25px;font-size: 12px;border:solid 1px #f9fbff;border-radius: 4px; " class="select-a-span station_item" data-id="{$vo.id}" data-title="{$vo.title}" >{$vo.title}</span>
                        </a>
                    </li>
                    {/volist}
                </ul>
            </div>

            <!--岗位右边-->
            <div class="select-box-side ">
                <div class="select-box-side-header ">
                    <span>选择全部</span>
                    <input type="checkbox" name="check" id="checkall1"  />
                </div>

                <div class="select-box-side-content ">
                    {volist name="publish_scope['station']" id="vo"}
                    <ul style="width: 155px;padding: 5px 8px; display: none " class="station-aside-ul">
                        {present name="vo.user"}
                        {volist name="vo.user" id="va"}
                        <li>
                            <span class="iconfont ">&#xe6ae;</span>
                            <span style="font-size: 12px; " class="select-name station_user_item" data-id="{$va.user_id}" data-pid="{$vo.id}" data-title="{$va.user_real_name}">{$va.user_real_name}</span>
                            <input type="checkbox" name="check" class="checkboxs" data-id="{$va.user_id}" data-pid="{$vo.id}" data-title="{$va.user_real_name}" />
                        </li>
                        {/volist}
                        {/present}
                    </ul>
                    {/volist}
                </div>
            </div>

        </div>

        <!--按角色-->
        <div class="role select-user-content ">
            <!--角色左边-->
            <div class="select-box-inner " >
                <ul class="inner-ul ">
                    {volist name="publish_scope['role']" id="vo"}
                    <li>
                        <a>
                            <span class="iconfont " style="color: #82939E; font-size: 14px;display: inline-block;width:18px;margin-left:5px; ">&#xe747;</span>
                            <span style="color:#82939E; display: inline-block; width: 135px;height: 25px;font-size: 12px;border:solid 1px #f9fbff;border-radius: 4px; " class="select-a-span role_item" data-id="{$vo.id}" data-title="{$vo.title}">{$vo.title}</span>
                        </a>
                    </li>
                    {/volist}
                </ul>

            </div>

            <!--角色右边-->
            <div class="select-box-side ">
                <div class="select-box-side-header ">
                    <span>选择全部</span>
                    <input type="checkbox" name="check"  id="checkall2"   />
                </div>
                <div class="select-box-side-content ">
                    {volist name="publish_scope['role']" id="vo"}
                    <ul style="display: none" class="role-aside-ul">
                        {present name="vo.user"}
                        {volist name="vo.user" id="va"}
                        <li>
                            <span class="iconfont ">&#xe6ae;</span>
                            <span style="font-size: 12px; " class="select-name role_user_item" data-id="{$va.user_id}" data-pid="{$vo.id}" data-title="{$va.user_real_name}">{$va.user_real_name}</span>
                            <input type="checkbox" name="check"  class="checkboxs" data-id="{$va.user_id}" data-pid="{$vo.id}" data-title="{$va.user_real_name}"/>
                        </li>
                        {/volist}
                        {/present}
                    </ul>
                    {/volist}

                </div>
            </div>

        </div>
    </div>

</div>


</body>
</html>