<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增信息</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_bqphh0tc2haaif6r.css"/>
    <link rel="stylesheet" href="/resource/new_css/amazeui.min.css"/>
    <link rel="stylesheet" href="/resource/new_css/add_article.css"/>
    <script src="/resource/new_js/jquery.js"></script>
    <script src="/resource/new_js/add_doc.js"></script>
</head>
<body>
{include file="../../layout/view/base/index_header" /}
<!--主体内容-->
<div class="ibcontainer">
    <div class="ibcontainer_date">
        <div class="date">
            <span style="display: inline-block;float: left;font-size: 20px;font-weight: 500;">添加通知</span>
            <span style="display: inline-block;float: right;">{$date_lunar}</span>
        </div>
    </div>
    <div class="ibcontainer_body">
        <!--左边-->
        <div class="aside-left">
           <div class="aside-left-top">
               <a href="{:url('article/index')}" style="color:#3497db;">
                   <span class="iconfont" style="font-size: 19px;">&#xe62c;</span>
                   <span>信息中心</span>
               </a>
           </div>
            <div class="aside-left-list">
                <ul>
                    <li style="padding-left:20px;">
                        <span class="iconfont" style="font-size:18px">&#xe651;</span>
                        <a href="{:url('article/index')}" >默认分类</a>
                    </li>
                    <li style="padding-left:38px;">
                        <span class="iconfont" style="font-size:15px">&#xe6c0;</span>
                        <a href="">内部通知</a>
                    </li>
                    <li style="padding-left:38px;">
                        <span class="iconfont" style="font-size:15px">&#xe6c0;</span>
                        <a href="">活动通知</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--右边-->
        <div class="aside-right">
          <form action="{:url('')}" method="post" enctype="multipart/form-data" id="art_submit_form" >
           <input type="hidden" name="article_type" value="" id="add_type">
            <div class="aside-right-panel">
               <div class="rows">
                  <div class="info-title">
                      <label>信息标题</label>
                      <input type="text" class="info-title-input" name="article_title">
                  </div>
                  <div class="classify">
                      <label for="article-select">所属分类</label>
                      <select id="article-select">
                          {volist name="cate_list" id="vo"}
                          <option value="{$vo.cate_id}">{$vo.cate_title}</option>
                          {/volist}
                      </select>
                      <span class="am-form-caret"></span>
                  </div>
               </div>
                <!--发布范围-->
               <div class="rows" style="margin-bottom: 10px">
                   <div style="float: left; width:738px;position: relative">
                       发布范围
                       <input type="hidden" name="article_publish"  id="article_publish" />
                       <div id="out_box_left" class="out-box out-box-left">
                           <ul class="tag-box sel-btn">
                           </ul>
                           <div class="btn-box">
                               <button type="button" class="man-btn btn iconfont">&#xe632;</button>
                               <button type="button" class="btn clean-btn iconfont">&#xe62f;</button>
                           </div>
                           <ul class="item-box">
                               <li class="item-title">部门选择</li>
                               {volist name="publish_scope['depart']" id="vo"}
                               <li class="item" data-value="d_{$vo.id}">{$vo.title}</li>
                               {/volist}
                               <li class="item-title">岗位选择</li>
                               {volist name="publish_scope['station']" id="vo"}
                               <li class="item" data-value="s_{$vo.id}">{$vo.title}</li>
                               {/volist}
                               <li class="item-title">角色选择</li>
                               {volist name="publish_scope['role']" id="vo"}
                               <li class="item" data-value="r_{$vo.id}">{$vo.title}</li>
                               {/volist}
                           </ul>
                           <!--弹出表单-->
                           <div class="select-user-box">
                               <!--表单头部-->
                               <div class="select-box-header">
                                   <ul class="select-box-nav">
                                       <li data-type="department" class="active">
                                           <a href="javascript:;">
                                               <i class="iconfont" style="font-size: 30px">&#xe630;</i>
                                               <span>按部门</span>
                                           </a>
                                       </li>
                                       <li data-type="position">
                                           <a href="javascript:;">
                                               <i class="iconfont" style="font-size: 30px">&#xe75a;</i>
                                               <span>按岗位</span>
                                           </a>
                                       </li>
                                       <li data-type="role">
                                           <a href="javascript:;">
                                               <i class="iconfont" style="font-size: 30px">&#xe63f;</i>
                                               <span>按角色</span>
                                           </a>
                                       </li>
                                   </ul>
                               </div>
                               <div class="select-all">
                                   <!--按部门-->
                                   <div class="department select-user-content">
                                       <!--部门左边-->
                                       <div class="select-box-inner">
                                           <ul class="inner-ul depart-inner-ul">
                                               {volist name="publish_scope['depart']" id="vo" empty="无"}
                                               <li style="position: relative">
                                                   <a>
                                                        <span class="iconfont"
                                                              style="color: #82939E; font-size: 14px;display: inline-block;width:18px;margin-left:5px;">&#xe747;</span>
                                                        <span class="select-a-span depart_item" data-id="{$vo.id}"
                                                              data-title="{$vo.title}">{$vo.title}</span>
                                                       <input type="checkbox" class="item2"
                                                              data-id="d_{$vo.id}" data-title="{$vo.title}"
                                                              style="position: absolute;right: 24px;width: 20px;height: 20px;">
                                                   </a>
                                               </li>
                                               {/volist}
                                           </ul>
                                       </div>
                                       <!--部门右边-->
                                       <div class="select-box-side">
                                           <div class="select-box-side-content">
                                               {volist name="publish_scope['depart']" id="vo"}
                                               <ul style="width: 155px;padding: 5px 8px;display: none;"
                                                   class="depart-aside-ul depart_ul" data-pid="{$vo.id}">
                                                   <div class="select-box-side-header">
                                                       <span>选择全部</span>
                                                       <input type="checkbox" class="click-all check_all_depart"
                                                              data-pid="d_{$vo.id}"/>
                                                   </div>
                                                   {present name="vo.user"}
                                                   {volist name="vo.user" id="va"}
                                                   <li>
                                                       <span class="iconfont">&#xe6ae;</span>
                                                        <span style="font-size: 12px;margin-top: -3px;"
                                                              class="select-name ">{$va.user_real_name}</span>
                                                       <input type="checkbox" class="item2 checkboxs depart_user_item"
                                                              data-id="u_{$va.user_id}" data-pid="d_{$vo.id}"
                                                              data-title="{$va.user_real_name}"/>
                                                   </li>
                                                   {/volist}
                                                   {/present}
                                               </ul>
                                               {/volist}
                                           </div>
                                       </div>
                                   </div>
                                   <!--按岗位-->
                                   <div class="position select-user-content ">
                                       <!--岗位左边-->
                                       <div class="select-box-inner ">
                                           <ul class="inner-ul ">
                                               <li>
                                                   <a>
                                                        <span class="iconfont"
                                                              style="color: #82939E; font-size: 20px;display: inline-block;width:18px;margin-left:5px; ">&#xe7a0;</span>
                                                        <span style="color:#82939E; display: inline-block; width: 100px;height: 25px;font-size: 12px;border:solid 1px #f9fbff;border-radius: 4px;font-weight: 500; "
                                                              class="select-a-span ">默认分类</span>
                                                   </a>
                                               </li>
                                               {volist name="publish_scope['station']" id="vo"}
                                               <li style="padding-left: 20px;margin-top: 5px;height: 20px; position: relative">
                                                   <a>
                                                        <span class="iconfont "
                                                              style="color: #82939E; font-size: 16px;display: inline-block;width:18px;margin-left:5px; ">&#xe747;</span>
                                                        <span class="select-a-span station_item" data-id="{$vo.id}"
                                                              data-title="{$vo.title}">{$vo.title}</span>
                                                       <input type="checkbox" class="item2"
                                                              data-id="s_{$vo.id}" data-title="{$vo.title}"
                                                              style="position: absolute;right: 24px;width: 20px;height: 20px;">
                                                   </a>
                                               </li>
                                               {/volist}
                                           </ul>
                                       </div>
                                       <!--岗位右边-->
                                       <div class="select-box-side ">
                                           <div class="select-box-side-content ">
                                               {volist name="publish_scope['station']" id="vo"}
                                               <ul style="width: 155px;padding: 5px 8px; display: none "
                                                   class="station-aside-ul">
                                                   <div class="select-box-side-header">
                                                       <span>选择全部</span>
                                                       <input type="checkbox" class="click-all check_all_depart"
                                                              data-pid="s_{$vo.id}"/>
                                                   </div>
                                                   {present name="vo.user"}
                                                   {volist name="vo.user" id="va"}
                                                   <li>
                                                       <span class="iconfont ">&#xe6ae;</span>
                                                        <span style="font-size: 12px; "
                                                              class="select-name station_user_item"
                                                              data-id="{$va.user_id}"
                                                              data-pid="{$vo.id}" data-title="{$va.user_real_name}">{$va.user_real_name}</span>
                                                       <input type="checkbox" name="check" class="item2 checkboxs"
                                                              data-id="u_{$va.user_id}" data-pid="s_{$vo.id}"
                                                              data-title="{$va.user_real_name}"/>
                                                   </li>
                                                   {/volist}
                                                   {/present}
                                               </ul>
                                               {/volist}
                                           </div>
                                       </div>
                                   </div>
                                   <!--按角色-->
                                   <div class="role select-user-content ">
                                       <!--角色左边-->
                                       <div class="select-box-inner ">
                                           <ul class="inner-ul ">
                                               {volist name="publish_scope['role']" id="vo"}
                                               <li style="position: relative">
                                                   <a>
                                                        <span class="iconfont "
                                                              style="color: #82939E; font-size: 14px;display: inline-block;width:18px;margin-left:5px; ">&#xe747;</span>
                                                        <span class="select-a-span role_item" data-id="{$vo.id}"
                                                              data-title="{$vo.title}">{$vo.title}</span>
                                                       <input type="checkbox" class="item2"
                                                              data-id="r_{$vo.id}"
                                                              data-title="{$vo.title}"
                                                              style="position: absolute;right: 24px;width: 20px;height: 20px;">
                                                   </a>
                                               </li>
                                               {/volist}
                                           </ul>
                                       </div>
                                       <!--角色右边-->
                                       <div class="select-box-side ">
                                           <div class="select-box-side-content ">
                                               {volist name="publish_scope['role']" id="vo"}
                                               <ul style="display: none" class="role-aside-ul">
                                                   <div class="select-box-side-header">
                                                       <span>选择全部</span>
                                                       <input type="checkbox" class="click-all check_all_depart"
                                                              data-pid="r_{$vo.id}"/>
                                                   </div>
                                                   {present name="vo.user"}
                                                   {volist name="vo.user" id="va"}
                                                   <li>
                                                       <span class="iconfont ">&#xe6ae;</span>
                                                        <span style="font-size: 12px; "
                                                              class="select-name role_user_item"
                                                              data-id="{$va.user_id}" data-pid="{$vo.id}"
                                                              data-title="{$va.user_real_name}">{$va.user_real_name}</span>
                                                       <input type="checkbox" name="check" class="item2 checkboxs"
                                                              data-id="u_{$va.user_id}" data-pid="r_{$vo.id}"
                                                              data-title="{$va.user_real_name}"/>
                                                   </li>
                                                   {/volist}
                                                   {/present}
                                               </ul>
                                               {/volist}
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="edit-panel">
                   <ul class="edit-panel-ul">
                       <li>
                           <a class="active article-content"><i class="iconfont" >&#xe68e;</i>文章内容</a>
                       </li>
                       <li>
                           <a><i class="iconfont" >&#xe62e;</i>图片内容</a>
                       </li>
                       <li>
                           <a><i class="iconfont">&#xe68c;</i>超链接</a>
                       </li>
                   </ul>
                   <div class="tab-content">
                       <!--编辑器内容-->
                       <div class="tab-edit">
                           <script style="display: inline-block;" id="doc_content" name="article_content"></script>
                       </div>
                       <div class="tab-pic" style="display: none">
                            <button><input type="checkbox" class="checkall"></button>
                           <!--上传图片-->
                               <div class="file-box am-form-group am-form-file">
                                   <button type="button" id="pic_show" class="am-btn am-btn-default am-btn-sm" style="border-radius: 4px;padding: 0;">
                                       <i class="iconfont" style="font-size: 16px;width: 40px;height: 40px;display: inline-block;padding-top: 10px;" onclick="$('#fileinput').click();">&#xe68c;</i>
                                   </button>

                               </div>
                               <div id="file_msg-pic" class="img-msg" style=""></div>
                           <div id="image_box"></div>
                       </div>
                       <div class="tab-link" style="display: none">
                            <input type="text" placeholder="请输入链接地址" name="article_url" value="">
                       </div>
                   </div>
               </div>
            </div>
            <div class="rows">
                <div>
                <label>信息状态</label>
                </div>
                <div style="width: 300px;float: left">
                <label class="state-box label-show label-radio label-active">
                    <input type="radio" name="article_status" value="1" style="opacity: 0;" checked="checked"/>发布
                </label>
                <label class="state-box label-draft label-radio">
                    <input type="radio" name="article_status" value="2" style="opacity: 0;"/>草稿
                </label>
                </div>
                <div style="width:315px;float: right">
                    <a href="{:url('article/add_article_pre')}" id="preview">
                        <button type="button" class="btn-back preview">预览</button>
                    </a>
                    <button type="submit" class="am-btn am-btn-primary bottom-btn-primary">发送</button>

                </div>
            </div>
              <div>
                  <a href="{:url('article/index')}">
                      <button type="button" class="btn-back bottom-btn-back ">返回</button>
                  </a>
              </div>
          </form>
            <!--上传附件的插件-->
            <form id="post-form" class="file-form" name="fileform">
                <div class="file-box am-form-group am-form-file">
                    <button type="button" class="am-btn am-btn-default am-btn-sm" style="border-radius: 4px;">
                        <i class="am-icon-cloud-upload"></i>上传附件
                    </button>
                    <input id="fileinput" type="file" name="file">
                </div>
                <div  class="file_msg" style=""></div>
            </form>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="ibcontainer_footer">
        <div class="footer">
            <a href="{:url('doc/index')}"><i class="footer-logo"></i></a>
            <a href="">信息中心</a>
            <a href="{:url('article/index')}">通知</a>
            <a href="">添加通知</a>
        </div>
    </div>
</div>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/resource/ueditor1.4.3.3/ueditor.config.js"></script>
<script type="text/javascript" src="/resource/ueditor1.4.3.3/ueditor.all.js"></script>
<script src="/resource/new_js/add_pic.js"></script>
<script>

    $(".checkall").click(function(){
        if($(this).prop("checked")){
            $(this).prop("checked",true);
            $(":checkbox").prop("checked",true)
        }
        else{
            $(this).prop("checked",false)
            $(":checkbox").prop("checked",false)
        }
    });

    $("#add_type").val(1);
    $(".edit-panel-ul li a").each(function(index){
        $(this).click(function(){
            var type_name=index+1;
            $("#add_type").val(type_name);
            $(".edit-panel-ul li a").removeClass("active");
            $(this).addClass("active");
            $(".tab-content>div").css("display","none");
            $(".tab-content>div").eq(index).css("display","block");

            /*if($(".edit-panel-ul li a:first").hasClass("active")){
                console.log(11);
                $("#preview").attr("href","{:url('article/add_article_txt')}");
            }
            if($(".edit-panel-ul li a:odd").hasClass("active")){
                console.log(22);
            }
            if($(".edit-panel-ul li a:last").hasClass("active")){
                console.log(33);
            }*/
        })
        /*if($(".edit-panel-ul li a:first").hasClass("active")){
            console.log(11);
            $("#preview").attr("href","{:url('article/add_article_txt')}");
        }*/
    });


        var annex_index = 0;//附件索引
        var pic_index=0; //图片索引
    var ue = UE.getEditor('doc_content',{
        serverUrl:'{:url("base/base/ue_upload")}',
        initialFrameWidth :740,
        initialFrameHeight:340,
        autoHeightEnabled:false

    });

    function Sel(out_box_id) {
        this.$out_box = $('#' + out_box_id);
        this.$tag_box = this.$out_box.children('.tag-box').eq(0);
        this.$tag_del = this.$tag_box.find('.tag-del');
        this.$item_box = this.$out_box.children('.item-box').eq(0);
        this.$item = this.$item_box.children('.item');
        this.$sel_box = this.$out_box.children('.select-user-box').eq(0);
        this.$item2 = this.$sel_box.find('.item2');
        this.$click_all = this.$sel_box.find('.click-all');
        this.$btn_box = this.$out_box.children('.btn-box').eq(0);
        this.$sel_btn = this.$out_box;
        this.$man_btn = this.$btn_box.children('.man-btn').eq(0);
        this.$clean_btn = this.$btn_box.children('.clean-btn').eq(0);
        this.tag_arr = [];
        var _this = this;
        this.selBtnClick(this.$sel_btn, _this);
        this.manBtnClick(this.$man_btn, _this);
        this.cleanBtnClick(this.$clean_btn, _this);
        this.selBoxClick(this.$sel_box);
        this.itemClick(this.$item, _this);
        this.item2Click(this.$item2, _this);
        this.allClick(this.$click_all, _this);
    }
    Sel.prototype.selBtnClick = function (elem, _this){
        elem.click(function (event){
            var $ib = _this.$item_box;
            if($ib.css('display') == 'none'){
                console.log('item show');
                _this.hideBox('sel_box');
                $ib.css('display', 'block');
            } else{
                console.log('item hide');
                $ib.css('display', 'none');
            }
            event.stopPropagation();
        });
    }
    Sel.prototype.manBtnClick = function (elem, _this){
        elem.click(function (event){
            _this.hideBox('item_box');
            var $sb = _this.$sel_box;
            if($sb.css('display') == 'block'){
                console.log('sel hide');
                $sb.css('display', 'none');
            } else{
                console.log('sel show');
                $sb.css('display', 'block');
            }
            event.stopPropagation();
        });
    }
    Sel.prototype.cleanBtnClick = function (elem, _this){
        elem.click(function (event){
            console.log('clean');
            _this.$item2.each(function (){
                if($(this).prop('checked') == true){
                    $(this).click();
                }
            });
            _this.$click_all.each(function (){
                if($(this).prop('checked') == true){
                    $(this).prop('checked', false);
                }
            });
            _this.change();
            event.stopPropagation();
        });
    }
    Sel.prototype.selBoxClick = function (elem){
        elem.click(function (event){
            event.stopPropagation();
        });
    }
    Sel.prototype.itemClick = function (elem, _this){
        elem.each(function (){
            $(this).click(function (event){
                var value = $(this).data('value');
                var $item2 = _this.$item2;
                $item2.each(function (){
                    if($(this).data('id') == value){
                        $(this).click();
                        return false;
                    }
                });
                event.stopPropagation();
            });
        });
    }
    Sel.prototype.item2Click = function (elem, _this){
        elem.each(function (){
            $(this).click(function (event){
                var value = $(this).data('id');
                var html = $(this).data('title');
                if($(this).prop('checked') == false){
                    var $item = _this.$item;
                    $item.each(function (){
                        if($(this).data('value') == value){
                            $(this).removeClass('item-selected');
                        }
                    });
                    var $item2 = _this.$item2;
                    $item2.each(function (){
                        if($(this).data('id') == value && $(this).prop('checked') == true){
                            $(this).prop('checked', false);
                        }
                    });
                    var $tag = _this.$tag_box.children();
                    $tag.each(function (){
                        if($(this).data('value') == value){
                            $(this).remove();
                        }
                    });
                    var ta = _this.tag_arr;
                    for(var i in ta){
                        if(ta[i] == value){
                            _this.tag_arr.splice(i, 1);
                        }
                    }
                } else{
                    var $item = _this.$item;
                    $item.each(function (){
                        if($(this).data('value') == value){
                            $(this).addClass('item-selected');
                        }
                    });
                    var $item2 = _this.$item2;
                    $item2.each(function (){
                        if($(this).data('id') == value && $(this).prop('checked') == false){
                            $(this).prop('checked', true);
                        }
                    });
                    var $tag = $('<li class="tag" data-value="' + value + '">' + html + '<span class="tag-del">X</span></li>');
                    _this.$tag_box.append($tag);
                    _this.tag_arr.push(value);
                    _this.$tag_del = _this.$tag_box.find('.tag-del');
                    _this.tagDelClick(_this.$tag_del, _this);
                }
                _this.change();
                event.stopPropagation();
            });
        });
    }
    Sel.prototype.allClick = function (elem, _this){
        elem.each(function (){
            $(this).click(function (){
                var pid = $(this).data('pid');
                if($(this).prop('checked') == true){
                    _this.$item2.each(function (){
                        if($(this).data('pid') == pid && $(this).prop('checked') == false){
                            $(this).click();
                        }
                    });
                } else{
                    _this.$item2.each(function (){
                        if($(this).data('pid') == pid && $(this).prop('checked') == true){
                            $(this).click();
                        }
                    });
                }
            });
        });
    }
    Sel.prototype.tagDelClick = function (elem, _this){
        elem.each(function (){
            console.log('tagDelClick');
            $(this).get(0).onclick = function (event){
                var $tag = $(this).closest('.tag');
                var value = $tag.data('value');
                _this.$item2.each(function (){
                    if($(this).data('id') == value){
                        $(this).click();
                        return false;
                    }
                });
//                _this.change();
                var e = window.event || event;
                if(e.stopPropagation){
                    e.stopPropagation();
                } else{
                    window.event.cancelBubble = true;
                }
            };
        });
    }
    Sel.prototype.hideBox = function (status){
        if(status == undefined){ status = 'item_box';}
        switch (status){
            case 'item_box':
                this.$item_box.css('display', 'none');
                break;
            case 'sel_box':
                this.$sel_box.css('display', 'none');
                break;
            case 'all':
                this.$item_box.css('display', 'none');
                this.$sel_box.css('display', 'none');
                break;
        }
    }
    Sel.prototype.getTagArr = function (){
        return this.tag_arr;
    }
    Sel.prototype.changeFunc = function (func){
        if(typeof func == 'function'){
            this.changeFunc = func;
        }
    }
    Sel.prototype.change = function (){
        this.changeFunc(this.getTagArr());
    }
    $(function (){
        var sel0 = new Sel('out_box_left');
        var sel1 = new Sel('out_box_right');
        $('body').click(function (event){
            sel0.hideBox('all');
            sel1.hideBox('all');
        });
        sel0.changeFunc(function (arr){
            var str = arr.join(',');
            console.log('sel0:', str);
            $('#article_publish').attr('value', str);
        });
        sel1.changeFunc(function (arr){
            var str = arr.join(',');
            console.log('sel1:', str);
            $('#doc_cc').attr('value', str);
        });

        var $state_box = $('.state-box');
        $state_box.click(function (){
            $state_box.each(function (){
                $(this).removeClass('label-active');
            });
            $(this).addClass('label-active');
        });


        var upsize = 0;
        var uparr = [];
        var imarr=[];
        var fileinput = document.getElementById('fileinput');
        var input_index = 0;
        var img_index = 0;
        fileinput.onchange = function (){
            var formData = new FormData();
            formData.append('file', $('#fileinput').get(0).files[0]);
//            if(formData.get('file') == 'undefined'){
//                return;
//            }
//            upsize += parseInt(formData.get('file').size);
//            if(formData.get('file').size > 52400000){
//                alert('文件大小超过50M');
//                return;
//            }
//            if(upsize > 52400000){
//                alert('文件总大小超过50M');
//                return;
//            }
            $.ajax({
                url:"{:url('base/base/upload_files','','',true)}",
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (obj){
                    if(obj.state == 1){
                        if(obj.data.file_type == "image/jpeg"){
                            var pic_file_name = $('<input type="hidden" class="img' + img_index + '" data-name="obj.data.file_name" data-id="'+pic_index+'"  name="article_images['+pic_index+'][file_name]" value="'+obj.data.file_name+'"/>');
                            var pic_file_size = $('<input type="hidden" class="img' + img_index + '" data-id="'+pic_index+'" name="article_images['+pic_index+'][file_size]" value="'+obj.data.file_size+'"/>');
                            var pic_file_url = $('<input type="hidden" class="img' + img_index + '" data-id="'+pic_index+'"  name="article_images['+pic_index+'][file_url]" value="'+obj.data.file+'"/>');
                            var pic_file_type = $('<input type="hidden" class="img' + img_index + '" data-id="'+pic_index+'" name="article_images['+pic_index+'][file_type]" value="'+obj.data.file_type+'"/>');
                            $("#art_submit_form").append(pic_file_name);
                            $("#art_submit_form").append(pic_file_size);
                            $("#art_submit_form").append(pic_file_url);
                            $("#art_submit_form").append(pic_file_type);
                            upimageShow(obj.data);
                            img_index++;
                            pic_index++;
                        }else{
                            var annex_file_name = $('<input type="hidden" class="ig' + input_index + '" data-name="obj.data.file_name" data-id="'+annex_index+'"  name="article_annex['+annex_index+'][file_name]" value="'+obj.data.file_name+'"/>');
                            var annex_file_size = $('<input type="hidden" class="ig' + input_index + '" data-id="'+annex_index+'" name="article_annex['+annex_index+'][file_size]" value="'+obj.data.file_size+'"/>');
                            var annex_file_url = $('<input type="hidden" class="ig' + input_index + '" data-id="'+annex_index+'"  name="article_annex['+annex_index+'][file_url]" value="'+obj.data.file+'"/>');
                            var annex_file_type = $('<input type="hidden" class="ig' + input_index + '" data-id="'+annex_index+'" name="article_annex['+annex_index+'][file_type]" value="'+obj.data.file_type+'"/>');
                            $("#art_submit_form").append(annex_file_name);
                            $("#art_submit_form").append(annex_file_size);
                            $("#art_submit_form").append(annex_file_url);
                            $("#art_submit_form").append(annex_file_type);
                            upfileShow(obj.data);
                            input_index++;
                            annex_index++;

                        }
                    } else{
                        $('.file_msg').html('上传失败');
                        $('.img_msg').html('上传失败');
                    }
                },
                error: function (data) {
                    console.log('submit fail', data);
                    $('.file_msg').html('上传失败');
                    $('.img_msg').html('上传失败');
                }
            });
        };
        function upfileShow(obj){
            var tempobj = {
                'file_name': obj.file_name,
                'file_url': obj.file,
                'size': obj.file_size
            };
            uparr.push(tempobj);
            var $file_msg = $('.file_msg');
            var $filetag = $('<div class="file">' + obj.file_name
                    + '<span class="file-del" data-filename="'
                    + obj.file_name + '">删除</span></div>');
            $filetag = fileDelBind($filetag, obj);
            $file_msg.append($filetag);
        }
        function upimageShow(obj){
            console.log("渲染图片");
            var imgobj={
                'file_name': obj.file_name,
                'file_url': obj.file,
                'size': obj.file_size
            };
            var image_list ='<div class="pic_box">'+
            '<input type="checkbox" style="float: left;">'+
            '<div class="img_container">'+
            '<img src="'+imgobj.file_url+'" alt="" class="up_img"/>'+
            '</div>'+
            '<div style="float: left">'+imgobj.file_name+'</div>'+
            '<div class="img_msg" style="">'+
            '<span class="img-del" data-id="'+pic_index+'">'+'删除'+'</span>'+
            '</div>'+
            '</div>';
            $("#image_box").append(image_list);
            $(".img-del").click(function(){
                $(this).parent().parent().remove();
                    var img_id=$(this).data("id");
                    $('.img' + img_id).remove();
                });
    };


        function fileDelBind(filetag, obj){
            var $filetag = filetag;
            var $temp = $filetag.children('.file-del');
            $temp.click(function (index){
                var filename = obj.file_name;
                var filesize = obj.file_size;
                for(var i in uparr){
                    if(uparr[i].file_name == filename){
                        uparr.splice(i, 1);
                    }
                }
                $(this).parent().remove();
                $('.ig' + index).remove();
                upsize -= filesize;
            }.bind($temp, input_index));
            return $filetag;
        };

    });



</script>
</body>
</html>
















