{extend name="../../layout/view/base:base" /}
{block name="title"}OA系统{/block}
{block name="main"}
<div>
<!--{:dump($depart)}-->
    <div>
        <section>
            <h2><strong style="color:grey;">部门列表</strong></h2>
            <div class="page_title">
                <div class="fl">
                    <a class="top_rt_btn" href="{:url('new_depart')}">添加部门</a>
                </div>
                <div class="fr" >
                </div>
            </div>
                <table class="table" style="margin-bottom: 120px;text-align: center;">
                    <tr>
                        <th>部门ID</th>
                        <th>部门名称</th>
                        <th>上级部门</th>
                        <th>部门电话</th>
                        <th>部门传真</th>
                        <th>部门地址</th>
                        <th>部门职能</th>
                        <th>操作</th>
                    </tr>
                    {volist name="depart" id="vo"}
                    <tr >
                        <td>{$vo.depart_id}</td>
                        <td>{$vo.depart_title}</td>
                        <td>{$vo.p_title|default="顶级部门"}</td>
                        <td>{$vo.depart_phone|default="未设置"}</td>
                        <td>{$vo.depart_fax|default="未设置"}</td>
                        <td>{$vo.depart_address|default="未设置"}</td>
                        <td>{$vo.depart_introduce|default="未设置"}</td>
                        <td style="text-align: center;">
                            <div class="dmgc_action">
                                <div>
                                    选择操作
                                </div>
                                <div class="more" style="float: left">
                                    <a href="{:url('edit_depart',['depart_id'=>$vo['depart_id']])}" >编辑部门</a>
                                    <a href="#" onclick="dmgc_show_pop('pop_del_station',$(this))" data-vo='{:json_encode($vo)}'>删除部门</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {/volist}
                </table>
        </section>
    </div>
    <!--删除-->
    <section class="pop_bg pop_del_station">
        <form  action="{:url('delete_depart')}" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="depart_id"/>
            <div class="pop_cont">
                <h3>删除岗位</h3>
                <div class="pop_cont_input">
                    <ul>
                        <li class="form-group">
                            <span class="item_name" style="width:120px;">部门名称：</span>
                            <input style="display:none">
                            <input type="text" class="textbox textbox_295" name="depart_title" placeholder="部门名称" autocomplete="off" readonly/>
                        </li>
                    </ul>
                </div>
                <div style="text-align: center">
                    <span style="color: red;">警告：您将要删除该岗位，请谨慎操作！！！</span>
                </div>
                <div class="btm_btn">
                    <input type="submit" value="确定" class="input_btn trueBtn "/>
                    <input type="button" value="放弃" class="input_btn falseBtn pop_close"/>
                </div>
            </div>
        </form>
    </section>


</div>
{/block}